
<!DOCTYPE html>
<html>
 
<head>
    <title>Home Page</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: blue;            
        }
    </style>
</head>
 
<body>  
    <h1>Welcome to Devops</h1>
</body>


 
</html>   
