
<!DOCTYPE html>
<html>
 
<head>
    <title>Home Page</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: green;            
        }
    </style>
</head>
 
<body>  
    <h1>Welcome to Devops</h1>
    <h3>1)Doker</h3>
    <h3>2)aws</h3>
</body>


 
</html>   